header {
  margin: 0;
  background-color: #f55a5a;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 10px;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -7.5%;
  font-family: "Inter";
}
